{% extends "::base.html.twig" %}

{% block title %}Преподовательский состав{% endblock %}

{% block page_title %}
    Преподовательский состав
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="staff-grid">
            <div class="staff-item">
                <div class="staff-preview">
                    <img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" />
                </div>
                <div class="staff-name">
                    <a href="">Bla bla bla</a>
                </div>
            </div>
            <div class="staff-item">
                <div class="staff-preview">
                    <img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" />
                </div>
                <div class="staff-name">
                    <a href="">Bla bla bla</a>
                </div>
            </div>
            <div class="staff-item">
                <div class="staff-preview">
                    <img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" />
                </div>
                <div class="staff-name">
                    <a href="">Bla bla bla</a>
                </div>
            </div>
            <div class="staff-item">
                <div class="staff-preview">
                    <img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" />
                </div>
                <div class="staff-name">
                    <a href="">Bla bla bla</a>
                </div>
            </div>
            <div class="staff-item">
                <div class="staff-preview">
                    <img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" />
                </div>
                <div class="staff-name">
                    <a href="">Bla bla bla</a>
                </div>
            </div>
            <div class="staff-item">
                <div class="staff-preview">
                    <img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" />
                </div>
                <div class="staff-name">
                    <a href="">Bla bla bla</a>
                </div>
            </div>
            <div class="staff-item">
                <div class="staff-preview">
                    <img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" />
                </div>
                <div class="staff-name">
                    <a href="">Bla bla bla</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
